# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Bundler
vendor/bundle
.bundle

# Environment variables
.env
.env.local

# Logs
*.log
log/