<% @page_title = "Generic HTTP Web Service - Engines" %>

<%= erb :header %>

<p>This is where Engines will be listed eventually.</p>

<p>For now, just chill.</p>

<p>Request URI: <%= @request_uri %></p>

<%= erb :footer %>